body {
  background-image: url("https://previews.123rf.com/images/annagarmatiy/annagarmatiy1708/annagarmatiy170800029/84626815-horizontal-fondo-azul-claro-decorado-con-motivos-florales-aviador-con-el-marco-y-el-ornamento-%C3%A9tnico-d.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
